<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>celect</title>
<link rel="stylesheet" type="text/css" media="all" href="../main.css" />
<link rel="stylesheet" type="text/css" media="all" href="../reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="../text.css" />
<link rel="stylesheet" type="text/css" media="all" href="../960_12_fluid.css" />
<link rel="stylesheet" type="text/css" media="all" href="../styles.css" />

</head>
<body>

<!-- header -->
<div class="wrapper">
  <div class="topbg">
    <div class="container_12">
	
      <div class="grid_12" style="padding-top:20px; padding-bottom:40px">
	  <div style="padding-bottom:50px" class="prefix_8">Welcome Back ABC Vendorname!   <a href="#">Signout</a></div>
        <div class="grid_5"><a href="index.html"><img src="../../images/logo.jpg" alt="logo" /></a></div>
        <div class="grid_6"><span class="sitetitle">Greek Licensing Vendor Portal</span></div>
      </div>
	  <div class="clear">&nbsp;</div>
      <!-- header end-->	  

<!-- body -->

<!-- content -->
<div class="grid_12"><div class=" w_info">
System Notiﬁfcation. This is where a system notiﬁcation would go. If it gets too long and begins to wrap 
to more than two lines insert a [...] and a       <a href="#">Expand</a></div></div>
      <div class="grid_12">
        <div id="nav">
          <ul>
            <li><a href="#" class="selected">Licensees</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Designs</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="content_wrapper">
            <div class="display_events">
            <div class="dashboard_header">
            
     
            	<ul>
                	<li><a href="#">search</a></li>                
                	<li><a href="#">Lisc. Agreements</a></li>                
                	<li><a href="#">Designs</a></li>                
                	<li><a href="#">Royalty Reports</a></li>                
                	<li><a href="#">Invoices</a></li>                
                	<li><a href="#">Payments</a></li>                
                	<li><a href="#">Add A Vendor</a></li>                
                </ul>
            
            </div>
            <div class="search_fields">
                <div class="breadcrumb"><a href="#">Licensing Agreements</a> >> <a href="#">Pending Liscenses</a> >> <a href="#">All</a>
                </div>
            </div>
            
            <div class="box_content">
                <div style="width:300px" class="padding_right20 floatleft">
                    Vendor Name
                    <div class="clear"></div>
                    <input name="" style="width:292px;" class="text" type="text" />
                </div>
                <div style="width:200px" class="padding_right20 floatleft">
                    Client by Org Name
                    <div class="clear"></div>
                    <input name="" style="width:192px;" type="text" class="text" />
                </div>
                <div style="width:50px" class="padding_right20 floatleft">
                    Lic. #
                    <div class="clear"></div>
                    <input name="" style="width:42px;" type="text" class="text" />
                </div>
                <div style="width:200px" class="padding_right20 floatleft">
                    Sharing
                    <div class="clear"></div>
                    <select name="" class="select floatleft">
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                </div>
              
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Vendor Type
                    <div class="clear"></div>
                    <select name="" class="select" >
                      <option>Type 1</option>
                      <option>Type 2</option>
                      <option>Type 3</option>
                    </select>
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:300px" class="padding_right20 floatleft">
                    Royalty Structure
                    <div class="clear"></div>
                    <input name="" style="width:292px" class="text" type="text" />
                </div>
                <div style="width:200px" class="padding_right20 floatleft">
                    Royalty Commission
                    <div class="clear"></div>
                    <input name="" style="width:50px" class="text" type="text" />
                </div>
                <div style="width:100px" class="padding_right20 floatleft">
                    Advance royalty
                    <div class="clear"></div>
                    <input name="" style="width:50px" class="text" type="text" />
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Royalty decription
                    <div class="clear"></div>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Grant of License
                    <div class="clear"></div>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                </div>
    
                <div class="spacer"></div>
                    <div style="width:150px; float:left; padding-right:20px"><input name="" type="checkbox" value="" />Sample Received</div>
                    <div style="width:150px; float:left; padding-right:20px"><input name="" type="checkbox" value="" />Payment Received</div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Vendor Products
                    <div class="clear"></div>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Actual Licensing Agreement
                    <div class="clear"></div>
                    <a href="#" class="tab_on">Link 1</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="tab_off">Link 2</a>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                    <input class="btn" type="submit" value="Save">                
                </div>
    
                <div class="spacer"></div>
                Product Samples               
                <div class="spacer"></div>                
                <ul>
                    <li><img src="../../images/delete_16x16.gif" />&nbsp;<img src="../../images/icon_pdf_16x16.png" align="top" />&nbsp;Hat samples</li>                
                    <li><img src="../../images/delete_16x16.gif" />&nbsp;<img src="../../images/icon_pdf_16x16.png" align="top" />&nbsp;Shirt samples</li>                
                </ul>                
                <div class="spacer"></div>                
                    <input class="btn" type="submit" value="Add">                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Notes specific to the licensing 
                    <div class="clear"></div>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Note to Vendor
                    <div class="clear"></div>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>                
    
                <div style="width:650px" class="floatleft">
                    Note to Client
                    <div class="clear"></div>
                    <textarea name=""  style="width:650px;" class="textarea" cols="" rows=""></textarea>
                </div>
    
                <div class="spacer"></div>                
                <div class="spacer"></div>
                
                <input class="btn" type="submit" value="Approve">                
                <input class="btn" type="submit" value="Reject">
            </div>
            
            </div>

      </div>

</div>  
</div>  
<div class="clear"></div>  
<div class="footer_wrapper">  
<div class="container_12">

  <div class="grid_12 footer">
  
  Greek Licensing Vendor Portal
  
  </div></div> </div></div>  <!-- footer end -->

</body>
</html>
