<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>celect</title>
<link rel="stylesheet" type="text/css" media="all" href="../main.css" />
<link rel="stylesheet" type="text/css" media="all" href="../reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="../text.css" />
<link rel="stylesheet" type="text/css" media="all" href="../960_12_10_10.css" />
<link rel="stylesheet" type="text/css" media="all" href="../styles.css" />
</head>
<body>

<!-- header -->
<div class="wrapper">
  <div class="topbg">
    <div class="container_12">
	
      <div class="grid_12" style="padding-top:20px; padding-bottom:40px">
	  <div style="padding-bottom:50px" class="prefix_8">Welcome Back ABC Vendorname!   <a href="#">Signout</a></div>
        <div class="grid_5"><a href="index.html"><img src="../../images/logo.jpg" alt="logo" /></a></div>
        <div class="grid_6"><span class="sitetitle">Greek Licensing Vendor Portal</span></div>
      </div>
	  <div class="clear">&nbsp;</div>
      <!-- header end-->	  

<!-- body -->

<!-- content -->
<div class="grid_8 w_info">System Notiﬁfcation. This is where a system notiﬁcation would go. If it gets too long and begins to wrap 
to more than two lines insert a [...] and a       <a href="#">Expand</a></div>
      <div class="grid_9">
        <div id="nav">
          <ul>
            <li><a href="#" class="selected">Licensees</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Designs</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="content_wrapper">
          <div class="spacer"></div>
            tabs
          <div class="spacer"></div>
            
            <div style="float:left; width:450px; margin-right:20px; height:500px; overflow-y:scroll" class="vendor_design">
                <div style="text-align:right; display:block; width:100%">
                    <a class="floatleft" href="#">Lisence Template</a><a class=" floatright" href="#">Lisence Template Not</a>
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <p>
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper dignissim massa non lacinia. Donec blandit ornare arcu a vehicula. Aenean eu elementum neque. Quisque ultricies fringilla justo, sed feugiat ante auctor non. Curabitur eget hendrerit tellus. Curabitur id odio sagittis nisi euismod auctor nec id dui. Curabitur iaculis mauris non nisi lacinia porta. Donec a suscipit est. Nullam ipsum erat, vehicula vel aliquam ac, commodo id dolor. In hac habitasse platea dictumst. Nulla facilisi. Cras sodales urna sit amet magna tincidunt iaculis. Proin laoreet aliquet augue, eu molestie nulla elementum quis. Cras at dolor enim, vitae ultricies mi. Vestibulum vitae nisl nisi. Etiam lacinia urna sit amet leo euismod tincidunt. </p>

<p>Fusce quis turpis quis dui venenatis ornare nec vitae nunc. Aenean sit amet justo eget nisl vehicula ultricies nec et lectus. Ut sapien est, consectetur eget consequat vel, tempor quis ligula. Nam congue ante dolor. Duis nulla tortor, hendrerit at adipiscing pellentesque, commodo ac mi. Vestibulum ultrices tortor at mauris sollicitudin dignissim. Aliquam fringilla diam ac massa gravida condimentum. Proin congue dapibus ligula, ut mollis risus condimentum id. Vivamus posuere felis in ipsum fringilla eu hendrerit turpis auctor.
                </p>
                <p>
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper dignissim massa non lacinia. Donec blandit ornare arcu a vehicula. Aenean eu elementum neque. Quisque ultricies fringilla justo, sed feugiat ante auctor non. Curabitur eget hendrerit tellus. Curabitur id odio sagittis nisi euismod auctor nec id dui. Curabitur iaculis mauris non nisi lacinia porta. Donec a suscipit est. Nullam ipsum erat, vehicula vel aliquam ac, commodo id dolor. In hac habitasse platea dictumst. Nulla facilisi. Cras sodales urna sit amet magna tincidunt iaculis. Proin laoreet aliquet augue, eu molestie nulla elementum quis. Cras at dolor enim, vitae ultricies mi. Vestibulum vitae nisl nisi. Etiam lacinia urna sit amet leo euismod tincidunt. </p>

<p>Fusce quis turpis quis dui venenatis ornare nec vitae nunc. Aenean sit amet justo eget nisl vehicula ultricies nec et lectus. Ut sapien est, consectetur eget consequat vel, tempor quis ligula. Nam congue ante dolor. Duis nulla tortor, hendrerit at adipiscing pellentesque, commodo ac mi. Vestibulum ultrices tortor at mauris sollicitudin dignissim. Aliquam fringilla diam ac massa gravida condimentum. Proin congue dapibus ligula, ut mollis risus condimentum id. Vivamus posuere felis in ipsum fringilla eu hendrerit turpis auctor.
                </p>
                <p>
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper dignissim massa non lacinia. Donec blandit ornare arcu a vehicula. Aenean eu elementum neque. Quisque ultricies fringilla justo, sed feugiat ante auctor non. Curabitur eget hendrerit tellus. Curabitur id odio sagittis nisi euismod auctor nec id dui. Curabitur iaculis mauris non nisi lacinia porta. Donec a suscipit est. Nullam ipsum erat, vehicula vel aliquam ac, commodo id dolor. In hac habitasse platea dictumst. Nulla facilisi. Cras sodales urna sit amet magna tincidunt iaculis. Proin laoreet aliquet augue, eu molestie nulla elementum quis. Cras at dolor enim, vitae ultricies mi. Vestibulum vitae nisl nisi. Etiam lacinia urna sit amet leo euismod tincidunt. </p>

<p>Fusce quis turpis quis dui venenatis ornare nec vitae nunc. Aenean sit amet justo eget nisl vehicula ultricies nec et lectus. Ut sapien est, consectetur eget consequat vel, tempor quis ligula. Nam congue ante dolor. Duis nulla tortor, hendrerit at adipiscing pellentesque, commodo ac mi. Vestibulum ultrices tortor at mauris sollicitudin dignissim. Aliquam fringilla diam ac massa gravida condimentum. Proin congue dapibus ligula, ut mollis risus condimentum id. Vivamus posuere felis in ipsum fringilla eu hendrerit turpis auctor.
                </p>
            </div>
        <div class="grid_3 alpha vendor_design">
              <div class="sidebar_top"><strong class="org_name">Appendices</strong></div>
              <img src="../../../web/images/icon_pdf_16x16.png" align="absmiddle" />Ways to sell products...
              <div class="spacer"></div>
              Add a file as appendix
              <input name="" type="text" />
              <input name="" type="file" />
              <div class="spacer"></div>
                <div class="sidebar_top"><strong class="org_name">Notes</strong></div>
              <div class="spacer"></div>
              <p>
              Fusce quis turpis quis dui venenatis ornare nec vitae nunc. Aenean sit amet justo eget nisl vehicula ultricies nec et lectus. Ut sapien est, consectetur eget consequat vel. </p>
                <p>Vestibulum ultrices tortor at mauris sollicitudin dignissim. Aliquam fringilla diam ac massa gravida condimentum. Proin congue dapibus ligula, ut mollis risus condimentum id. 
              </p>
              <textarea name="" cols="20"  rows=""></textarea>
              <input name="" value="Add Note" type="button" />
            </div>
         </div>
<!-- content end -->	  
      </div>

<!-- sidebar -->
      <div class="grid_3">
        <div class="sidebar_top"> <img src="images/calendar.png" alt="calender" class="floatleft calendaricon" /> <strong>Calender</strong>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="sidebar_body"> 
		<strong>June, 2011</strong> <br />
          North Eastern Greek Tradeshow 2011<br />
          Boston MA: June 11-22 <br />
          www.showurl.com<br />
          <br />
           <a href="#" class="addtocalendar"><img src="images/calendar_add.png" alt="calendar_add" align="bottom" /> Add to Calendar</a><br />
<br />
<strong>June, 2011</strong> <br />
          North Eastern Greek Tradeshow 2011<br />
          Boston MA: June 11-22 <br />
          www.showurl.com<br />
          <br />
           <a href="#" class="addtocalendar"><img src="images/calendar_add.png" alt="calendar_add" align="bottom" /> Add to Calendar</a><br />
<br />
<strong>June, 2011</strong> <br />
          North Eastern Greek Tradeshow 2011<br />
          Boston MA: June 11-22 <br />
          www.showurl.com<br />
          <br />
           <a href="#" class="addtocalendar"><img src="images/calendar_add.png" alt="calendar_add" align="bottom" /> Add to Calendar</a> </div>
      </div>
	  
<!-- body end -->

<!-- footer -->    </div>  </div>  <div class="clear">&nbsp;</div>  <div class="footer_wrapper">  <div class="container_12">

  <div class="grid_12 footer">
  
  Greek Licensing Vendor Portal
  
  </div></div> </div></div>  <!-- footer end -->

</body>
</html>
