<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>celect</title>
<link rel="stylesheet" type="text/css" media="all" href="../main.css" />
<link rel="stylesheet" type="text/css" media="all" href="../reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="../text.css" />
<link rel="stylesheet" type="text/css" media="all" href="../960_12_fluid.css" />
<link rel="stylesheet" type="text/css" media="all" href="../styles.css" />

</head>
<body>

<!-- header -->
<div class="wrapper">
  <div class="topbg">
    <div class="container_12">
	
      <div class="grid_12" style="padding-top:20px; padding-bottom:40px">
	  <div style="padding-bottom:50px" class="prefix_8">Welcome Back ABC Vendorname!   <a href="#">Signout</a></div>
        <div class="grid_5"><a href="index.html"><img src="../../images/logo.jpg" alt="logo" /></a></div>
        <div class="grid_6"><span class="sitetitle">Greek Licensing Vendor Portal</span></div>
      </div>
	  <div class="clear">&nbsp;</div>
      <!-- header end-->	  

<!-- body -->

<!-- content -->
<div class="grid_12">
	<div class="w_info">System Notiﬁfcation. This is where a system notiﬁcation would go. If it gets too long and begins to wrap to more than two lines insert a [...] and a       <a href="#">Expand</a>
    </div>
    </div>
      <div class="grid_12">
        <div id="nav">
          <ul>
            <li><a href="#" class="selected">Licensees</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Designs</a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="content_wrapper">
            <div class="display_events">
            <div class="dashboard_header">
            
     
            	<ul>
                	<li><a href="#">search</a></li>                
                	<li><a href="#">Lisc. Agreements</a></li>                
                	<li><a href="#">Designs</a></li>                
                	<li><a href="#">Royalty Reports</a></li>                
                	<li><a href="#">Invoices</a></li>                
                	<li><a href="#">Payments</a></li>                
                	<li><a href="#">Add A Vendor</a></li>                
                </ul>
            
            </div>
            <div class="search_fields">
                <div class="floatleft" style="color:#ffffff">
                    Licensing Status:
                        <select name="">
                          <option>Pending Licencing</option>
                          <option>All</option>
                        </select>
    
                    Pending Status:
                        <select name="">
                          <option>Waiting for Client Signature</option>
                          <option>All</option>
                        </select>
                </div>
                <div class="breadcrumb"><a href="#">Licensing Agreements</a> >> <a href="#">Pending Liscenses</a> >> <a href="#">All</a>
                </div>
            </div>
            
            <div class="grid_4">
                <div class="box_content">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Vendor Name</th>
                              <th>Number</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                              <td>1</td>
                              <td>FC Bayern München</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>FC Schalke 04</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Borussia Dortmund</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>SV Werder Bremen</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="spacer"></div>
                <ul id="pagination">
                    <li class="ar"><a style="cursor:pointer" onclick="pagination('1')">first</a></li>
                    <li class="ar"><a style="cursor:pointer" onclick="pagination(1)">previous</a></li>
                    <li class="nb"> 1 </li>
                    <li class="nb"> <a style="cursor:pointer" onclick="pagination(2)">2</a> </li>
                    <li class="nb"> <a style="cursor:pointer" onclick="pagination(3)">3</a> </li>
                    <li class="ar"><a style="cursor:pointer" onclick="pagination(2)">next</a></li>
                    <li class="ar"><a style="cursor:pointer" onclick="pagination(3)">last</a></li>
                </ul>
            </div>
            <div class="grid_8">
                <div class="box_content">
                    <table class="table">
                        <thead> 
                            <tr> 
                                <th>Vendor Name</th> 
                                <th>Applying With</th> 
                                <th>Submitted On</th> 
                                <th>Status</th> 
                            </tr> 
                        </thead> 
                    
                        <tbody> 
                            <tr> 
                                <td>1</td> 
                                <td>FC Bayern München</td>
                                <td>11</td>
                                <td>8</td>
                            </tr> 
                            <tr> 
                                <td>2</td> 
                                <td>FC Schalke 04</td>
                                <td>11</td>
                                <td>7</td>
                            </tr> 
                            <tr> 
                                <td>3</td> 
                                <td>Borussia Dortmund</td>
                                <td>11</td>
                                <td>6</td>
                            </tr> 
                            <tr> 
                                <td>4</td> 
                                <td>SV Werder Bremen</td>
                                <td>11</td>
                                <td>6</td>
                            </tr> 
                        </tbody> 
                    </table>
                </div>
                <div class="spacer"></div>
                <ul id="pagination">
                    <li class="ar"><a style="cursor:pointer" onclick="pagination('1')">first</a></li>
                    <li class="ar"><a style="cursor:pointer" onclick="pagination(1)">previous</a></li>
                    <li class="nb"> 1 </li>
                    <li class="nb"> <a style="cursor:pointer" onclick="pagination(2)">2</a> </li>
                    <li class="nb"> <a style="cursor:pointer" onclick="pagination(3)">3</a> </li>
                    <li class="ar"><a style="cursor:pointer" onclick="pagination(2)">next</a></li>
                    <li class="ar"><a style="cursor:pointer" onclick="pagination(3)">last</a></li>
                </ul>
            </div>





            
            
      </div>

</div>  
</div>  
<div class="clear"></div>  
<div class="footer_wrapper">  
<div class="container_12">

  <div class="grid_12 footer">
  
  Greek Licensing Vendor Portal
  
  </div></div> </div></div>  <!-- footer end -->

</body>
</html>
